.App {
  text-align: center;
  background: linear-gradient(90deg, #14202c, #183047 50%, #14202c);
  min-height: 100vh;

}

.App-logo {
  height: 10vmin;
	padding: 1rem;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
